.footer{
    /* border: 2px solid red; */
    /* width: 1000px; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    flex-direction: column;
}

.footer__link--kimovil{
    padding: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #4F4E56;
   
}

.footer__link{
    display: flex;
}

.footer__link--contact{
    /* border: 1px solid blue; */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-decoration: none;
    color: #4F4E56;
    

}

.footer__link--networks{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    flex-wrap: wrap;
}

.footer__link--numbers{
    display: flex;
    /* border: 2px solid green; */
}

.social-networks{
    display: flex;
}

.link{
    color: #A7ADC9;
    padding: 0;
    margin: 0;
}

.link-kimovil{
    padding: 0;
    margin: 0;
    color: #4F4E56;
}