
.header {
    width: 100%;
    display: flex;
    position: fixed;
    top:0;
    z-index: 100;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    background-color: #3b3ece;
    padding: 0;
    padding: 4px;
    margin: 0;
}

.header-container {
    /* max-width: 1500px; */
    /* border: 10px solid black; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header__title-kimovil{
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    padding-left: 4px;
    /* border: 2px solid black; */
   
}

.header__title {
    /* border: 1px solid black; */
    color: white;
    /* font-size: 2rem; */
    padding: 0;
    margin: 0;
    font-family: roboto__thin;
}


.header__title--bold {
    font-weight: bold;
    font-family: roboto__bold;
    /* border: 2px solid black; */
   
}



.nav {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid black; */
   width: 65%;
    flex-wrap: wrap;
}

.nav__list {
    list-style: none;
    display: flex;
    /* border: 2px solid green; */
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    /* border: 2px solid purple; */
}

.nav__link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    
}

.nav__text {
    color: white;
    font-size: 1rem;
}

.icon {
    font-size: 1.4rem;
    margin-right: 10px;
    color: white;
}

/* input */

.container__input{
    width: 30%;
     color: white;
}

.icon__glass{
   font-size: 1rem;
   align-items: center;
   justify-content: center;
   /* border: 1px solid red; */
}

.label{
    /* width: 100%; */
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    text-align: start;
    background: rgb(255,255,255);
    background: linear-gradient( rgba(255,255,255,0.4963235294117647) 4%, rgba(255,255,255,0.272233893557423) 25%, rgba(255,255,255,0) 47%);
}

.label:hover{
    outline: 1px solid white;
}

.input{
    border-radius: 8px;
    width: 100%;
    padding: 8px;
    background-color: transparent;
    outline: 0;
    border: 0;
    /* border: 2px solid red; */
}
.input:focus{
    outline: 0;
    border: 0;

}
.input::placeholder{
    background-color: transparent;
    color: white;
}
