
.section{
    /* max-width: 1400px; */
    width: 100%;
    /* height: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid purple;
   
}
.section--blue{
    background-color: #3b3ece;  

}
.section--gray{
    background-color: #dfe0e5;  

}
.section--white{
    background-color: #FFFFFF;  
   
}

.section-container{
    max-width: 1400px;
    width: 100%;
    /* border: 3px solid red; */
    padding: 30px;
 
   
}

.section-container--phones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}



.section__title{
    padding: 0;
    margin: 0;
   padding-left: 10px;
    width: 10%;
    /* border: 1px solid blue; */
}

.section-container

/* INFO SECTION STYLES****************** */

.info{
    /* border: 4px solid black; */
    width: 70%;
    color: white;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
}

.info__description{
    width: 290px;
    /* border: 1px solid red; */
}

.info__link{
    width: 30%;
    border-radius: 10px;
    background-color: white;
    color: gray;
    text-align: center;
    padding: 4px;
    font-size: 1.1rem;
    text-decoration: none;
    margin: 0;
}

.info__container-range{
    display: flex;
    align-items: end;
}

/********** STYLES SELLS **********/
.sells{
    display: flex;
    flex-wrap: wrap;
    /* border: 3px solid green; */
}

.sells-container{
    display: flex;
    /* width: 50%; */
    /* justify-content: center; */
    flex-wrap: wrap;
    /* border: 1px solid blue; */
}

.sells-container--assements{
    display: flex;
    flex-wrap: wrap;
    width: 670px;
    /* border: 1px solid blue; */
}

.sell{
    /* border: 1px solid purple; */
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.sell__title{
    /* border: 1px solid red; */
    margin-left: 40px;
  
}

.section__title--sells{
    text-align: center;
    /* border: 3px solid blue; */
    padding: 0;
    margin: 0;
}


.sell__list{
    width: 320px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sell__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    
    /* margin: 0;
    padding: 0; */
    width: 100%;
    padding: 0 18px;
}
.sell__item:hover{
    background-color:rgba(78, 78, 224, 0.278);
}

.sell__position, .sell__device{
    background-color: transparent;
}

.sell__info{
    display: flex;
    /* border: 2px solid purple; */
    align-items: center;
}

.sell__price{
    color: blue;
    font-weight: bold;
}


.sell__line{
    margin: 0;
    padding: 0;
    width: 92%;
    border: 0;
    border: 1px solid gray;
}

.opinions{
    /* border: 1px solid blue; */
    width: 300px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.opinions__text{
  color: #C7C7CD;
  margin: 0;
  padding: 0;
  text-align: center;
}

.opinions__text--number,.opinions__text--user{
    color: #4F4E56;
    margin: 0;
    padding: 0;
}

.opinions__text--number{
    font-size: 4rem;
}

.opinions__text--user{
    font-weight: bold;
}

.opinions__text--kimovil{
    font-size: 1.2rem;
    color: #C7C7CD;
}

.section-container--phones{
    max-width: 1400px;
    width: 100%;
    /* border: 1px solid red; */
    padding: 30px;
}

.section-container--image{
    /* border: 3px solid green; */
    width: 1000px;
}

