
*{
    box-sizing: border-box;
}
.container {
    /* max-width: 1500px; */
    width: 100%;
    margin: 0 auto;
    border: 1px solid black;
    margin-top: 50px;
}

/* -*****BUTTON DESPLEGABLE STYLES*** */
.button{
    width: 100%;
    border: 1px solid orange;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.button__link{
    border-radius: 10px;
    background-color: #D2D7E1;
    color: rgb(78, 76, 76);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding: 4px;
    /* border: 1px solid black; */
    font-size: 1.1rem;
    text-decoration: none;
    margin: 0;
}

.icon--yellouw{
    color: rgb(244, 244, 8);
}


.border__gris{
    border: 3px solid #C7C7CD;
}

.image-phones{
    width: 100%;
    height: 100%;
}

/* ******TABLA***** */

.titulo{
    font-size: 1.4rem;
    color: blue;
    padding: 10px;
    font-weight: bold;
}

.table{
 
    /* width: 700px; */
   
    /* margin: 0 auto; */
    /* margin-bottom: 40px; */
    border-collapse: collapse;
    
}



.th{
    color: white;
    background-color: rgba(0, 0, 255, 0.293);
    /* font-variant: small-caps; */
    font-size: 1.2rem;
    text-align: center;
    
    padding: 4px;
    /* border-radius: 10px; */
    
}

.td{
    font-size: 1.1rem;
    text-align: center;
    /* border: 1px solid black; */
    width: 20%;
    padding: 6px;
  
}


.fondo_gris_oscuro{
    background-color:#605e5e6a;
}

.color_blanco{
    color: white;
    padding: 4px;
}

.fondo_azul_diferente:hover{
    background-color: rgba(0, 0, 255, 0.403);;
}

.sin_borde{
    /* border: 1px solid black; */
    border: 0;
}
