@font-face {
    font-family: roboto;
    src: url(../assets/fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto__bold;
    src: url(../assets/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto__thin;
    src: url(../assets/fonts/Roboto/Roboto-Thin.ttf);
}


*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: roboto;
}
.container {
    /* max-width: 1500px; */
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid black; */
    margin-top: 50px;
}

/* -*****BUTTON DESPLEGABLE STYLES*** */
.button{
    width: 70%;
    /* border: 1px solid orange; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.button__link{
    border-radius: 10px;
    background-color: #D2D7E1;
    color: rgb(78, 76, 76);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding: 4px;
    /* border: 1px solid black; */
    font-size: 1rem;
    text-decoration: none;
    margin: 0;
}

.button--different{
    width: 100%;
    /* border: 4px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.button__link:hover{
    background-color: #e1dbdb;
}

.icon--yellouw{
    color: rgb(244, 244, 8);
}

.icon--green{
   color: #08E58B;
}

.icon--pink{
    color: #FA4352;
}

.border__gris{
    border: 3px solid #C7C7CD;
}

.image-phones{
    width: 100%;
    height: 100%;
}



/* ******TABLA***** */

.table__title{
    font-size: 1.4rem;
    color: rgba(0, 0, 255, 0.501);
    padding: 10px;
    font-weight: bold;

}

.table{

    border: 1px solid gray;
    width: 660px;
    height: 200px;

}



.th{
    color: white;
    background-color: rgba(0, 0, 255, 0.293);
    font-variant: small-caps;
    font-size: 1.1rem;
    text-align: center;
    
    padding: 4px;
    /* border-radius: 10px; */
    
}

.td{
    font-size: 1.1rem;
    text-align: center;
    border-radius: 4px;
    border: 1px solid rgba(128, 122, 122, 0.404);
    width: 20%;
    padding: 6px;
    color: rgb(55, 53, 53);
}


.td__background{
    background-color:#605e5e6a;
}

.td__letter{
    color: white;
    padding: 4px;
}

.background{
    color: rgb(71, 69, 69);
}

.background:hover{
    background-color: rgba(159, 159, 221, 0.73);
   
}

.container__reviews-image{
    /* border: 2px solid black; */
    width: 630px;
    height: 180px;
    margin-top: 40px;
}

.reviews__image{
    width: 100%;
    height: 100%;
}

/* Mneu fixed */
.advs{
    display: flex;
    width: 200px;
    /* border: 1px solid black; */
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 6px;
    background-color: #dfdff5cd;
    border-radius: 10px;
    position: fixed;
    right: 10px;
    top: 140px;
}

.advs__title{
    display: flex;
    /* border: 1px solid blue; */

}

.title{
    color: #F11382;
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 6px;
}

.advs__phone{
    display: flex;
    margin: 2px;
}

.phone__image{
    border-radius: 10px;
}

.advs__phone-characteristics{
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.phone__name{
    color:   #74737E;
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
}

.advs__memory{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    width: 80;
    /* border: 1px solid red; */
}

.advs__memory-text{
    padding: 0;
    margin: 0;
    padding: 2px;
    color: #838389;
}

.advs__price{
    display: flex;

    padding: 0;
    margin: 0;
    padding: 2px;
    font-size: 0.8rem;
    width: 80;
    color: #838389;
}

.price-original{
    color: #BDBDCF;
    padding: 0;
    margin: 0;
    padding-right: 8px;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    text-decoration: line-through;
    
}

.price-sales{
    color: #F11382;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    align-items: center;
    justify-content: center;
}

.button-advs{
    display: flex;
    width: 100%;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
}